#a1 {
  background-image: url("https://banner2.cleanpng.com/20180823/af/kisspng-google-logo-portable-network-graphics-image-google-g-5b7f62559be028.2112362515350749016385.jpg");
  background-repeat: no-repeat;
  /* background-size: 75px 75px; */
  background-size: contain;
}

#a2 {
  background-image: url("https://banner2.cleanpng.com/20180823/af/kisspng-google-logo-portable-network-graphics-image-google-g-5b7f62559be028.2112362515350749016385.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 75px 75px; */
  border-radius: 20px;
}

div {
  width: 800px;
  height: 300px;
  margin-bottom: 5px;
  border: green solid 2px;
}